.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flower-container1 {
	position: fixed;
	margin: -60px -200px 0 0;
	z-index: 1;
}

.flower {
	height: 72px;
	width: 71px;
	z-index: 1;
}

.mazzilio-container1 {
	display: flex;
}

.mazzilio-container2 {
	display: flex;
	margin: 0px -20px 0 0;
}

/* MAZZILIO LETTERS */
.mazzilio_image {
	height: 80px;
	width: 80px;
	z-index: 3;
}

.M {
	margin: -35px -35px 0 0;
	animation: 1s appear forwards;
}

.A {
	margin: 0px -35px 0 0;
	animation: 1s appear forwards;
	animation-delay: 0.5s;
	opacity: 0;
}

.Z {
	margin: -30px -60px 0 0;
	animation: 1s appear forwards;
	animation-delay: 1s;
	opacity: 0;
}

.Z1 {
	margin: -15px 0px 0 -10px;
	animation: 1s appear forwards;
	animation-delay: 1.5s;
	opacity: 0;
}
.I {
	margin: -30px -30px 0 -40px;
	animation: 1s appear forwards;
	animation-delay: 2s;
	opacity: 0;
}
.L {
	margin: 0px -65px 0 0;
	animation: 1s appear forwards;
	animation-delay: 2.5s;
	opacity: 0;
}
.I1 {
	margin: -30px -75px 0 30px;
	animation: 1s appear forwards;
	animation-delay: 3s;
	opacity: 0;
}
.O {
	margin: 5px -50px 0 30px;
	animation: 1s appear forwards;
	animation-delay: 3.5s;
	opacity: 0;
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	95% {
		opacity: 0.85;
	}
	100% {
		opacity: 1;
	}
}
/* MAZZILIO LETTERS */

.flower-container2 {
	position: fixed;
	margin: 90px 170px 0 0;
	z-index: 1;
}

/* https://flaviocopes.com/rotate-image/ */
.rotate {
	animation: rotation 4s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.float:hover {
	animation: floating 2s ease-in-out infinite;
	z-index: 3;
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 5px);
	}
	100% {
		transform: translate(0, -0px);
	}
}
