.mazzilio-logo__flower-container1 {
	margin: -12rem 0rem 0 -25rem;
	padding: 1rem 1rem 1rem 65rem;
	position: absolute;
	z-index: 1;
}

.mazzilio-logo__flower-container2 {
	margin: 10rem -10rem 0 0;
	padding: 0rem 10rem 0 0;
}

.mazzilio-logo__flower {
	width: 20rem;
	z-index: 1;
}

/* .mazzilio-logo__flower:hover {
	animation: rotation 4s infinite linear;
} */

/* MAZZILIO LETTERS */

.maz-container {
	display: flex;
	z-index: 3;
	position: absolute;
	animation: floating 2s ease-in-out infinite;
}

.mazzilio_hero {
	transform: scale(0.7);
	z-index: 3;
}

.hero-M {
	margin: -8rem -18rem 0 2rem;
	padding: 2rem 0 0 0;
	z-index: 3;
}

.hero-A {
	margin: -20rem -19rem 0 0;
	z-index: 3;
}

.hero-Z {
	margin: -9rem -10rem 0 0;
	z-index: 3;
}

/* MAZZILIO LETTERS */

/* https://flaviocopes.com/rotate-image/ */
.rotate {
	animation: rotation 4s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 15px);
	}
	100% {
		transform: translate(0, -0px);
	}
}
